

.presentation-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 80px;    
}

.presentation-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 680px;
}

.title-about{
    text-align: center;
}

.objective-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.objective-gap{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon-gap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-section {
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    width: 50%;
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
}

.icon-section > p {
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: 500;
}

.section-grey {
    padding: 30px 10%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bold-icon{
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
}

.semibold-icon{
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: 600;
}

.stats-section{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.stats-frame{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.last-text{
    font-size: 36px;
    color: var(--black);
    font-weight: 700;
}
.btn-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width:768px) {
    .icon-section {
        width: 75%;
    }
}

@media only screen and (max-width:450px) {
    .icon-section {
        width: 100%;
    }
}