.contact-title{
    text-align: center;
}

.info-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 180px;
}

.info-title{
    font-size: 20px;
    color: var(--black);
    font-weight: 700;
}

.info-subtitle{
    font-size: 15px;
    color: var(--dark-gray);
    font-weight: 600;
    text-align: center;
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
}