@import url('./index.css');


.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
    height: 100px;
    background: var(--black-transparent)!important;
    border: none !important;
}

.header-nav, .logo-container, .header-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-element {
    color: var(--white)!important;
    font-size: 20px;
    font-weight: 700;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.languages-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.languages-container > button {
    height: auto;
    align-self: auto;
    border: none;
    background: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
}

.languages-container > .language-selected {
    color: var(--white);
}


.image-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('/assets/imageBuilding/building6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 40px 140px;
    background: var(--black-transparent);
    gap: 30px;
}

.step-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.step-title {
    color: var(--primary);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.step-text {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}


.presentation-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 80px;
}

.presentation-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 680px;
}

.img-presentation {
    height: 500px;
}

.boxes-section {
    background-color: var(--light-gray);
    width: 100%;
    padding: 50px 140px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.presentation-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.boxes-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box-item {
    width: 250px;
    height: 400px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
}

.box-tag {
    background: var(--black-transparent);
    border-radius: 4px;
    padding: 2px 10px;
    margin-left: 10px;
}

.box-tag-title {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
}

.box-footer {
    background: var(--black-transparent);
    border-radius: 4px;
    padding: 10px;
}

.box-footer-title {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}

.box-footer-text {
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 400;
}

.boxes-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.reviews-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.reviews-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
    margin: auto;
    flex-wrap: wrap;
}

.reviews-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width:1024px) {
    .presentation-section {
        flex-direction: column;
        align-items: center;
    }

    .presentation-left {
        width: auto;
    }
}

@media only screen and (max-width:768px){
    .steps-list {
        flex-direction: column;
        align-items: center;
    }

    .boxes-btn-container {
        align-items: center;
        justify-content: center;
    }

    .boxes-section {
        padding: 50px 40px
    }
}

@media only screen and (max-width:450px){
    .boxes-section {
        padding: 50px 20px
    }

    .img-presentation {
        height: 200px;
    }
}
