
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

:root {
    --primary: #D10028;
    --black: #181818;
    --black-transparent: rgba(0, 0, 0, 0.4);
    --white: #FFFFFF;
    --dark-gray: #6A6262;
    --light-gray: #F9F6F6;

    --primary-hover: #D10028;
    --dark-gray-hover: #6A6262;
}

.section {
    padding: 0px 140px;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 80px;
}

.title-h1 {
    color: var(--black);
    font-size: 48px;
    font-weight: 700;
}

.title-h2 {
    color: var(--black);
    font-size: 32px;
    font-weight: 600;
}

.text {
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: 400;
}

.btn-title {
    font-size: 14px;
    font-weight: 700;
}

.btn-transparent {
    outline: none;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 10px 0px;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-transparent > p {
    color: var(--dark-gray);
}

.btn-primary {
    outline: none;
    background-color: var(--primary);
    border: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 10px 50px;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 0.5s;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn-primary > p {
    color: var(--white);
}

@media only screen and (max-width:768px){
    .section {
        padding: 0px 50px;
    } 

    body {
        gap: 50px;
    }
}

@media only screen and (max-width:450px){
    .section {
        padding: 0px 20px;
    } 

    body {
        gap: 50px;
    }
}