@import url('./index.css');

.header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border-bottom: 2px var(--primary) solid;
    padding-left: 140px;
    padding-right: 140px;
    min-height: 100px;
    height: 100px;
    gap: 20px
}

.langage-section {
    width: 80px;
}

.langage {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.langage > button {
    color: var(--black);
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.language-selected {
    color: var(--primary)!important;
    font-weight: 700;
    font-size: 24px;
}

.rent-me {
    background-color: var(--primary);
    color: var(--white);
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    border-radius: 4%;
    border: color(var(--primary));
    font-size: 14px;
}

.rent-me:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
}

.nav-element {
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    gap: 20px;
}

.logo {
    width: 288px;
    height: 24px;

}

.button-rent-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-section{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: auto;
}

.footer{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--black);
    padding: 0 140px;
    min-height: 200px;
    height: 200px;
    gap: 20px
}

.nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}

.nav-element-footer{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

.social-media-section{
    display: flex;
    flex-direction: row; 
    gap: 10px;  
}

.header-space {
    display: none;
}

@media only screen and (max-width: 900px) {

    .header{
        display: flex;
        justify-content: 30px;
        justify-items: center;
        flex-direction: column;
        background-color: transparent;
        border-bottom: 2px var(--primary) solid;
        padding: 20px 50px;
        min-height: 191px;
    }

    .header-space {
        display: block;
        width: 75px;
    }   
    
    .button-rent-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
    }

    .button-section{
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .langage-section {
        width: 75px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--black);
        padding: 20px 50px;
        min-height: 200px;
    }

    .nav-element-footer{
        color: var(--white);
        text-decoration: none;
        font-size: 20px;
        white-space: nowrap;
    }

}

@media only screen and (max-width:450px) {

    .header{
        display: flex;
        justify-content: 30px;
        justify-items: center;
        flex-direction: column;
        background-color: transparent;
        border-bottom: 2px var(--primary) solid;
        padding: 20px 50px;
        min-height: 240px;
    }

    .header-space {
        display: block;
        width: 75px;
    }   
    
    .button-rent-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
    }

    .button-section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .langage-section {
        display: flex;
        justify-content: center;
        width: 75px;
        
    }

    .footer{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--black);
        padding: 20px 20px;
        min-height: 200px;
    }

    .nav-element-footer{
        color: var(--white);
        text-decoration: none;
        font-size: 20px;
    }

    .nav-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        list-style: none;
        gap: 10px;
    }

}

.home-header{
    background: var(--black-transparent);
}