

.order-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    gap: 50px;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.inputs-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.input-title {
    color: var(--black);
    font-weight: 700;
    font-size: 14px;
}

.input-element {
    border-radius: 4px;
    border: 2px solid var(--light-gray);
    width: 300px;
    height: 40px;
    padding: 0px 10px;
}

.input-element-small {
    width: 100px!important;
}

.input-section-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}