
.title-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bold {
    font-weight: 700;
}

.time-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.informations-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.private-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.info-frame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
    width: 300px;
    height: 300px; 
    border: 1px solid var(--gray);   
    border-radius: 4%;
}

.info-name {
    font-size: 32px;
    font-weight: 600;
    color: var(--black);
}

.info-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
}

.center {
    text-align: center;
}

.shop-image {
    width: 135px;
    height: 135px;
    border-radius: 4%;
}

.description-title {
    color: var(--black);
    font-weight: 700;
}

.total {
    font-size: 24px;
    font-weight: 600;
}

.separator {
    height: 1px;
    background: var(--dark-gray);
    width: 100%;
}

.order-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.order-list-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-section {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    gap: 10px;
    width: 620px;
}

.summary-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 20px 20px;
    border: 1px var(--gray) solid;
    border-radius: 4%;
    width: 360px;
}

.price-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.btn {
    justify-content: center;
}




@media only screen and (max-width: 768px){
    
    .article-section {
        flex-direction: column;
        width: 100%;
    }
}
